/* HERO */
.hero {
    position: relative;
    min-height: 90vh;
    padding: 6rem 0 4rem;
    color: #fff;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Capa oscura encima de las imágenes */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.7));
    z-index: 1;
}

/* Contenedor del slider */
.hero-slider {
    position: absolute;
    inset: 0;
    z-index: 0;
}

/* Cada slide del fondo */
.hero-slide {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transform: scale(1.05);
    animation: slideFadeZoom 64s infinite ease-in-out;
}

/* Delays para que se turnen las 4 imágenes */
.hero-slide:nth-child(1) { animation-delay: 0s; }
.hero-slide:nth-child(2) { animation-delay: -16s; }
.hero-slide:nth-child(3) { animation-delay: -32s; }
.hero-slide:nth-child(4) { animation-delay: -48s; }

/* Animación*/
@keyframes slideFadeZoom {
    0% { opacity: 0; transform: scale(1); }
    8% { opacity: 1; transform: scale(1); }
    25% { opacity: 1; transform: scale(1.08); }
    33% { opacity: 0; transform: scale(1.1); }
    100% { opacity: 0; transform: scale(1.1); }
}

/* Contenido encima del slider (tu texto y formulario) */
.hero-content {
    position: relative;
    z-index: 2;
    width: 100%;
}


.hero-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.hero-badge {
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
    padding: .5rem 1.2rem;
    display: inline-flex;
    align-items: center;
    gap: .5rem;
    font-size: .9rem;
}

.hero-badge i {
    color: var(--accent);
}

.btn-main {
    background-color: var(--accent);
    border: none;
    color: #000;
    padding: .8rem 1.6rem;
    border-radius: 999px;
    font-weight: 600;
}

.btn-main:hover {
    background-color: #ffb52c;
    color: #000;
}

.btn-outline-main {
    border-radius: 999px;
    border-color: var(--accent);
    color: #fff;
    display: flex;
    align-items: center;
}

.btn-outline-main:hover {
    background-color: var(--accent);
    color: #000;
}
