<!DOCTYPE html>
<html lang="en">
<body>
    <!-- NAVBAR -->
    <nav th:fragment="mainNavbar" class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-hammer me-2"></i>
                Carpintería <span>Art&Wood</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMain">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navMain">
                <ul class="navbar-nav ms-auto align-items-lg-center">
                    <li class="nav-item"><a class="nav-link" href="#servicios">Servicios</a></li>
                    <li class="nav-item"><a class="nav-link" href="#productos">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="#proceso">Proceso</a></li>
                    <li class="nav-item"><a class="nav-link" href="#testimonios">Opiniones</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
                    <li class="nav-item ms-lg-3">
                        <a href="/login" class="btn btn-sm btn-outline-main">
                            <i class="fa-solid fa-user-lock me-1"></i> Ingresar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>