:root {
    --primary: #8B5A2B;      /* marrón madera */
    --primary-dark: #5C3B1B;
    --accent: #FFC857;
    --bg: #F5F3EF;
}

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
}

/* BOTÓN PRINCIPAL */
.btn-main {
    background-color: var(--accent);
    border: none;
    color: #000;
    padding: .7rem 1.6rem;
    border-radius: 999px;
    font-weight: 600;
    font-size: .9rem;
}

.btn-main:hover {
    background-color: #ffb52c;
    color: #000;
}

